*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    
}

.background{
    
    background-image: url(https://i.pinimg.com/originals/a9/85/e6/a985e654a7b01fd6e56fabf62425b1d2.gif);
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
    
}
.logo {
    padding: 35px;
    position: relative;
  }
  
  .logo span {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 38px;
    letter-spacing: 5px;
    cursor: pointer;
  }
  
  .logo span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 0.3px rgb(255, 255, 255);
  }
  
  .logo span:nth-child(2) {
    color: #8400ff8c;
    -webkit-text-stroke: 1px #8400ff8c;
    animation: uiverse723 3s ease-in-out infinite;
  }
  
  @keyframes uiverse723 {
    0%, 100% {
      clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 
       54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
  
    50% {
      clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 
       51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .bubble {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #8400ff8c, #4451ff);
    margin: 0 5px;
    animation: bubbleAnimation 1.5s ease-in-out infinite;
  }
  
  @keyframes bubbleAnimation {
    0%,
    100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(2);
      opacity: 0.5;
    }
  }
  

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #8400ff8c;
    transform: .4s;
}
.Paragrafo-button{
    padding: 10px;
    text-align: center;
}
.button {
    background-color: #8400ff8c;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
  }


.button:hover{
    transform: scale(1.2);
}

.Main{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.Main span{
    color: #8400ff8c;
}

h1{
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}

.Container-btn form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.Container-btn form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #8400ff8c;
    border-radius: 30px;
    outline: none;
}

.Container-btn form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color:#8400ff8c;
    color: #fff;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    right: 6px;
    top: 6px;
    
}

.background-color-Sobre{
    background-color: #191919;
    width: 100%;
    padding: 100px 0px;
    
}

.background-color-Sobre img{
    width: 430px;
    height: auto;
    border-radius: 20px;
}

.Text-sobre{
    width: 550px;
  }

.main-sobre{
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 1130px;
   margin: 0 auto;
   filter: drop-shadow(1px 1px 10px #8400ff8c);
 
}

.Text-sobre h2{
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.Text-sobre h5{
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.Text-sobre p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}


/* Estilo do modal */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

/* Estilo do conteúdo do modal */
.modal-content {
    background-color: #191919;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

/* Estilo do botão de fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
button{
    background-color: #8400ff8c;
    color: #fff;
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
    
}

button:hover{
    background-color: transparent;
    border: 2px solid #8400ff8c;
    cursor: pointer;
}

.Container-serviços{
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.Caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.Card{
    background: #191919;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align:  center;
    
}

.Card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color:#8400ff8c;
}

h5{
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

.Paragrafo-button{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.Paragrafo-button button{
    margin-top: 25px;
}

.me-contate {
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.me-contate p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h6{
    font-size: 35px;
    color: #fff;
}

footer p{
    color: #fff;
    font-size: 15px;
    width: 500px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 23px;
}

.Redes-sociais{
    display: flex;
    
}

.Redes-sociais a{
    background-color:#8400ff8c;
    width: 45px;
    height: 45px;
    padding: 15px;
    border-radius: 50%;
    margin: 22px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Redes-sociais a:hover{
    transform: scale(1.2);
    transition: .3s;
}

.end{
    position: absolute;
    color: #8400ff8c;
    bottom: 35px;
    font-size: 14px ;
}